  <div class="shadow-lg col-lg-5" data-aos="fade-in" data-aos-delay="1200">
      <form class="form" action="/users/login">
          <h2>Login:</h2>
          <div class="mb-3">
              <label for="inputEmail" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email address" required>
          </div>
          <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" required>
          </div>
          <div class="text-center">
              <button class="btn btn-primary mt-3 mb-2" type="submit">
                <i class="bi bi-box-arrow-in-right"></i> 
            </button>
          </div>
      </form>
  </div>






