<div class="shadow-lg col-lg-5" data-aos="fade-in" data-aos-delay="120">
    <form class="form" action="/users/register" method="POST">
        <div class=""></div>
        <h1>New User</h1>
        <div class="mb-3">
            <label class="form-label" for="inputfirstName">First Name</label>
            <input class="form-control" type="text" name="firstName" id="inputfirstName" placeholder="First Name" autofocus required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="inputsecondName">Second name</label>
            <input class="form-control" type="text" name="secondName" id="inputsecondName" placeholder="Second Name" autofocus required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="inputemail">Email Address</label>
            <input class="form-control" type="text" name="email" id="inputemail" placeholder="email" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="inputpassword">Password</label>
            <input class="form-control" type="password" name="password" id="inputpassword" placeholder="password" required>
        </div>

        <div class="text-center">
            <button class="btn btn-primary mb-2" type="submit"> <i class="bi bi-plus-circle"> </i> User  </button>
        </div>

    </form>
</div>